<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.address.mapper.addressBook.AddressBookMapper">

<select id="doList" parameterType="AddressBookVO" resultType="AddressBookVO">
		/* addressBookMapper.xml - doList */
	<![CDATA[
		SELECT
	        id
		    ,name
            ,phone
            ,userGroup
            ,bookmark
			FROM 	ADDRESS_BOOK
			WHERE   1=1
			AND     id = #{id}
	]]>
		<include refid="where"></include>
	</select>

	<sql id="where">

		<if test="name != null and name != ''">
			<![CDATA[
			AND name = #{name}
			]]>
		</if>
		<if test="phone != null and phone != ''">
			<![CDATA[
			AND phone = #{phone}
			]]>
		</if>
		<if test="userGroup != null and userGroup != ''">
			<![CDATA[
			AND userGroup = #{userGroup}
			]]>
		</if>
		<if test="bookmark != null and bookmark != ''">
			<![CDATA[
			AND bookmark = #{bookmark}
			]]>
		</if>
	</sql>
	
	<update id="doInsert" parameterType="AddressBookVO">
		/* addressBookMapper.xml - doInsert */
	<![CDATA[	
		 INSERT INTO ADDRESS_BOOK (
		    id
		    ,name
            ,phone
            ,userGroup
            ,bookmark
            
		) VALUES (
			#{id}
		    ,#{name}
            ,#{phone}
            ,#{userGroup}
            ,#{bookmark}
		)
		]]>
	</update>

</mapper>
